mysql.username=test
mysql.password=test
mysql.url=jdbc:mysql://127.0.0.1:2433
mysql.encode=UTF-8
sqlserver.username=test
sqlserver.password=test
sqlserver.url=jdbc:sqlserver://127.0.0.1:2433
sqlserver.encode=UTF-8
